:root{
  --color: #b600ff;
}

body {
  color: var(--color);
  
}

.WelcomeContainer{
  display: inline-flex;
  padding: 4em;
  align-items: center;
}

.WelcomeItem{
  padding: 4em;
}

.centerData{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.raceSelect{
  align-items:center;
  justify-content: center;
  display: flex;
}

.resultContainer{
  display: flex;
  flex-direction: column;
}

.resultCard{
  margin-top: 1em;
  margin-bottom: 1em;
}

.resultDiv{
  display: flex;
}

.leftResultContent{
  align-items: start;
}

.rightResultContent{
  margin-left: auto;
}

.driverSelect{
  margin: 4em;
}

.graphBlock{
  width: 700px;
  height: 700px;
  margin: 4em;
}