:root{
  --color: #b600ff;
}

body {
  color: var(--color);
  
}

.WelcomeContainer{
  display: inline-flex;
  padding: 4em;
  align-items: center;
}

.WelcomeItem{
  padding: 4em;
}

.TabLabel{
  align-items:center;
  justify-content: center;
  display: flex;
}